{% extends "base.html" %}
{% block title %}
    О компании
{% endblock %}

{% block body_wrapper_begin %}{% endblock %}
{% block body_wrapper_end %}{% endblock %}

{% block main_content %}
    <div class="about-content">
        <div class="wrapper">
            <div class="about">
                <h1>О компании</h1>

                <p>
                    {{ content|safe }}
                </p>

                <div class="mission">
                    <h2>Миссия</h2>

                    <p>Мы создаем строительные материалы, которые преображают Жизнь каждого Человека и обеспечивают
                        Безопасность, Комфорт и Уверенность в будущем.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_content %}
{% endblock %}