{% extends "base.html" %}
{% block title %}
    Корзина
{% endblock %}

{% block main_content %}
    <div class="basket-content">
        <div class="basket-wrapper">
            <h1>Моя корзина</h1>
            <div class="basket-main">
                <div class="new-table">
                    <table>
                        <colgroup>
                            <col class="col1">
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Объем</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Цена</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% include 'app/partial/_basket_row.html' %}
                        </tbody>
                    </table>
                </div>
                <div class="purchase-data">
                    <div class="delivery">
                        Доставка:<span class="in-delivery">бесплатно</span>
                    </div>
                    <div class="amount">
                        Сумма:<span class="cost" id="basket-total-price">{{ total_price }} ₽</span>
                    </div>
                </div>
                <div class="btn-center">
                    <a href="{% url 'payment_preparing' %}" class="basket_content-button">Оформить заказ</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}