{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    О брендах
{% endblock %}

{% block body_wrapper_begin %}{% endblock %}
{% block body_wrapper_end %}{% endblock %}

{% block main_content %}
    <div class="brands_page-about">
        <div class="brands-wrap">
            <h2>О брендах</h2>
            <div class="brand-item">
                <div class="brand-item-left-side">
                    <img src="{% static 'img/brands_logo-1.png' %}">
                </div>
                <div class="brand-item-right-side">
                    <div class="brand-item-title">
                        <a href="{% url 'alinex' %}">Сухие строительные смеси AlinEX</a>
                    </div>
                    <div class="brand-item-description">
                        Сухие строительные смеси (ССС) AlinEX, появившийся на отечественном рынке более 16 лет назад,
                        были созданы специально для настоящих профессионалов. Область применения сухих строительных
                        смесей AlinEX обширна: выполнение кладочных, штукатурных, облицовочных работ, устройство
                        покрытий полов, заделка стыков, гидроизолирующие работы, теплоизолирующие работы, декоративные
                        работы и т. д. <a href="{% url 'alinex' %}">Читать подробнее</a>
                    </div>
                    <div class="brand-item-owner">
                        Официальный сайт: <a href="http://www.alinex.kz" target="_blank">www.alinex.kz</a>
                    </div>
                </div>
            </div>
            <div class="brand-item">
                <div class="brand-item-left-side">
                    <img src="{% static 'img/brands_logo-3.png' %}">
                </div>
                <div class="brand-item-right-side">
                    <div class="brand-item-title">
                        <a href="{% url 'alina_paint' %}">Лакокрасочная продукция «Alina Paint»</a>
                    </div>
                    <div class="brand-item-description">
                        Бренд Alina Paint на рынке уже 12 лет, и является одним из старейших брендов Промышленной Группы
                        «Alina». Alina Paint дарит миру цветные всплески, такие яркие, что в любую погоду поднимается
                        настроение, в душе селится радость, и каждый чувствует, что может преобразить к лучшему всю свою
                        жизнь. Вспомните, какое это прекрасное чувство – любоваться только что окрашенной стеной,
                        комнатой, домом. Ведь раскрашивая мир вокруг себя во все цвета радуги, все мы становимся немного
                        волшебниками, не так ли? <a href="{% url 'alina_paint' %}">Читать подробнее</a>
                    </div>
                    <div class="brand-item-owner">
                        Официальный сайт: <a href="http://www.alinapaint.kz" target="_blank">www.alinapaint.kz</a>
                    </div>
                </div>
            </div>
            <div class="brand-item">
                <div class="brand-item-left-side">
                    <img src="{% static 'img/brands_logo-2.png' %}">
                </div>
                <div class="brand-item-right-side">
                    <div class="brand-item-title">
                        <a href="{% url 'nashi' %}">Сухие строительные смеси НАШИ</a>
                    </div>
                    <div class="brand-item-description">
                        Сухие строительные смеси НАШИ – это качественные сухие строительные смеси с необходимым набором
                        свойств, для экономичного ремонта и отделки. В основе философии бренда лежит посыл
                        демократичности, качества и доступности выпускаемой продукции. Именно поэтому графическое
                        оформление бренда и текстовые платформы создаются через призму «общения на равных». <a href="{% url 'nashi' %}">Читать
                        подробнее</a>
                    </div>
                    <div class="brand-item-owner">
                        Официальный сайт: <a href="http://www.nashi-sss.kz" target="_blank">www.nashi-sss.kz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_content %}
{% endblock %}