{% extends 'base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Калькулятор{% endblock %}
{% block catalog_menu %}
    <div class="catalog-menu">
        <div class="wrapper">
            <nav class="side_megamenu">

            </nav>
            <input type="checkbox" id="sidebartoggler">

            <div class="page-wrap">
                <label for="sidebartoggler" class="toggle">☰</label>

                <div class="page-content">
                    <header></header>
                </div>
                <div class="sidebar">
                    <div class="catalog-mob">
                        <h2>Каталог</h2>
                        {% include "app/partial/_category_list.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <div class="main-content">
        <div class="wrapper clearfix">
            <div class="sidebar-main">
                <div class="catalog">
                    <h2>Каталог</h2>
                    {% include 'app/partial/_category_list.html' %}
                </div>
            </div>
            <div class="calculation-main">
                <h2>Штукатурки</h2>
                <div class="calculation-product">
                    <h3>Что вы планируете делать?</h3>
                    <form action="{% url 'calculator' category_id=category_id %}" method="POST" id="calculator-form">
                        {% csrf_token %}
{#                        <div class="select_option">#}
{#                            <div class="select_option-item">#}
{#                                <p><select name="hero">#}
{#                                    <option value="t1" selected>Покрытие лаком</option>#}
{#                                    <option value="t2">Покрытие лаком</option>#}
{#                                    <option value="t3">Покрытие лаком</option>#}
{#                                    <option value="t4">Покрытие лаком</option>#}
{#                                </select></p>#}
{#                            </div>#}
{#                            <div class="select_option-item">#}
{#                                <p><select name="hero">#}
{#                                    <option value="t1" selected>Полуматовый</option>#}
{#                                    <option value="t2">Покрытие лаком</option>#}
{#                                    <option value="t3">Покрытие лаком</option>#}
{#                                    <option value="t4">Покрытие лаком</option>#}
{#                                </select></p>#}
{#                            </div>#}
{#                            <div class="select_option-item">#}
{#                                <p><select name="hero">#}
{#                                    <option value="t1" selected>1 слой</option>#}
{#                                    <option value="t2">Покрытие лаком</option>#}
{#                                    <option value="t3">Покрытие лаком</option>#}
{#                                    <option value="t4">Покрытие лаком</option>#}
{#                                </select></p>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="date-calculate">
                            <div class="date-calculate-item after">
                                <label for="width">Длина</label>
{#                                <input type="number" id="width" placeholder=""><span>м</span>#}
                                {% render_field calculating_form.length type='number' placeholder='' %}<span>м</span>
                            </div>
                            <div class="date-calculate-item after ">
                                <label for="breadth">Ширина</label>
{#                                <input type="number" id="breadth" placeholder=""><span>м</span>#}
                                {% render_field calculating_form.weight type='number' placeholder='' %}<span>м</span>
                            </div>
                            <div class="date-calculate-item">
                                <label for="height">Высота</label>
{#                                <input type="number" id="height" placeholder=""><span>м</span>#}
                                {% render_field calculating_form.height type='number' placeholder='' %}<span>м</span>
                            </div>
                            <span class="and-c">—  ИЛИ — </span>
                            <div class="date-calculate-item">
                                <label for="area">Площадь</label>
{#                                <input type="number" id="area" placeholder=""><span class="sq">м <sup>2</sup></span>#}
                                {% render_field calculating_form.total_sum type='number' placeholder='' %}<span class="sq">м <sup>2</sup></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="calculation_main-product">
                    {% include 'app/partial/_trade_list.html' %}
                </div>
            </div>
        </div>
    </div>
    {% include "app/partial/_hidden_elements.html" %}
{% endblock %}

{% block custom_scripts %}
    {{ block.super }}
    <script>
        var widthInput = $('#id_length');
        var weightInput = $('#id_weight');
        var heightInput = $('#id_height');
        var areaInput = $('#id_total_sum');
        var form = $('#calculator-form');

        $(widthInput).on('input', function (event) {
            $(this).trigger('change');
        });
        $(weightInput).on('input', function (event) {
            $(this).trigger('change');
        });
        $(heightInput).on('input', function (event) {
            $(this).trigger('change');
        });
        $(areaInput).on('input', function (event) {
            $(this).trigger('change');
        });

        $(widthInput).on('change', function (event) {
            if($(weightInput).val() != 0) {
                var result = $(this).val() * $(weightInput).val();
                $(areaInput).val(result);
            }
        });

        $(weightInput).on('change', function (event) {
            if($(widthInput).val() != 0) {
                var result = $(this).val() * $(widthInput).val();
                $(heightInput).val('');
                $(areaInput).val(result);
            }
        });

        $(heightInput).on('change', function (event) {
            if($(widthInput).val() != 0) {
                var result = $(this).val() * $(widthInput).val();
                $(weightInput).val('');
                $(areaInput).val(result);
            }
        });

        $(areaInput).on('change', function (event) {
            $(widthInput).val('');
            $(weightInput).val('');
            $(heightInput).val('');
            $(form).submit();
        });

        function updateCalculatingFilters(areaValue) {
            $.ajax({
                url: '{% url 'calculator' category_id=category_id %}',
                method: 'POST',
                dataType: 'JSON',
                data: {'csrfmiddlewaretoken': csrfMiddleWareToken, 'area_value': areaValue},
                success: function (response) {

                },
                error: function () {
                    console.error('Error to update calculating filters');
                }
            });
        }

    </script>
{% endblock %}