{% extends "base.html" %}
{% block title %}
    Контакты
{% endblock %}

{% block body_wrapper_begin %}{% endblock %}
{% block body_wrapper_end %}{% endblock %}

{% block main_content %}
    <div class="about-content">
        <div class="wrapper">
            <div class="about">
                <h1>Контакты</h1>

                <p>
                    {{ content|safe }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}