{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Главная
{% endblock %}
{% block catalog_menu %}
    <div class="catalog-menu">
        <div class="wrapper">
            <nav class="side_megamenu">

            </nav>
            <input type="checkbox" id="sidebartoggler">

            <div class="page-wrap">
                <label for="sidebartoggler" class="toggle">☰</label>

                <div class="page-content">
                    <header></header>
                </div>
                <div class="sidebar">
                    <div class="catalog-mob">
                        <h2>Каталог</h2>
                        {% include "app/partial/_category_list.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <div class="brands">
        <div class="br-text">
            <p class="br-description ">
                Мы являемся официальными дистрибьюторами, <br/>
                на территоррии РФ, продукции под брендами:
            </p>
        </div>
        <div class="brands-logo">
            <ul>
                <li><a href="{% url "alinex" %}"><img src="{% static "img/brands_logo-1.png" %}" alt=""></a></li>
                <li><a href="{% url "nashi" %}"><img src="{% static "img/brands_logo-2.png" %}" alt=""></a></li>
                <li><a href="{% url "alina_paint" %}"><img src="{% static "img/brands_logo-3.png" %}" alt=""></a>
                </li>
                <li><a href="{% url "about" %}" class="brands_link-btn">Узнать подробнее<i
                        class="fa fa-chevron-right"
                        aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="wrapper clearfix">
            <div class="sidebar-main">
                <div class="catalog">
                    <h2>Каталог</h2>
                    {% include "app/partial/_category_list.html" %}
                </div>
            </div>
            <div class="products-main">
                {% if trades_with_discounts %}
                    <h2>Товары по акции</h2>
                    {% include "app/partial/_trade_list_with_discounts.html" %}
                {% endif %}
                <h2>Новые поступления</h2>
                {% include "app/partial/_trade_list.html" %}
                <button id="index-load-button">Ещё товары</button>
            </div>
        </div>
    </div>
    {% include "app/partial/_hidden_elements.html" %}
{% endblock %}