{% extends "base.html" %}
{% block title %}
    Новости
{% endblock %}

{% block body_wrapper_begin %}{% endblock %}
{% block body_wrapper_end %}{% endblock %}

{% block main_content %}
    <div class="about-content">
        <div class="wrapper">
            <div class="about">
                <h1>Новости</h1>


            </div>
        </div>
    </div>
{% endblock %}