{% extends 'base.html' %}

{% load staticfiles %}
{% load webshop %}
{% load widget_tweaks %}

{% block title %}Оплата товаров{% endblock %}

{% block body_wrapper_begin %} {% endblock %}
{% block body_wrapper_end %} {% endblock %}

{% block main_content %}
    <div class="payment-content">
        <form action="{% url 'payment_cash' %}" method="POST">
            {% csrf_token %}
            <div class="basket-wrapper">
                <h1>Моя корзина</h1>
                <div class="client-data">
                    <div class="information-form">
                        <p><b>Ваши данные</b></p>
                        {% render_field form.name placeholder='Ваше имя' %}
                        {% render_field form.phone placeholder='Номер телефона' %}
                        {% render_field form.address placeholder='Адрес' %}
                    </div>
                </div>
                <div class="payment-method">
                    <div>
                        <p><b>Способ оплаты</b></p>
                        <div class="radio">
                            <input id="radio-1" name="payment_type" type="radio" checked>
                            <label for="radio-1" class="radio-label">Наличными при получении</label>
                        </div>
{#                        <div class="radio">#}
{#                            <input id="radio-3" name="payment_type" type="radio">#}
{#                            <label for="radio-3" class="radio-label">Другие способы оплаты</label>#}
{#                        </div>#}
                    </div>
{#                    <div class="choose-wallet">#}
{#                        <div class="wallet"><img src="{% static 'img/icons/masterCard.png' %}" alt=""></div>#}
{#                        <div class="wallet"><img src="{% static 'img/icons/visa.png' %}" alt=""></div>#}
{#                        <div class="wallet"><img src="{% static 'img/icons/WebMoney.png' %}" alt=""></div>#}
{#                        <div class="wallet"><img src="{% static 'img/icons/YandexMoney.png' %}" alt=""></div>#}
{#                    </div>#}
                </div>
                <div class="btn-center">
                    <button type="submit" class="basket_content-button">Оформить заказ</button>
                </div>
            </div>
        </form>
        {% if has_data %}
            <form action='https://merchant.roboxchange.com/Index.aspx' method=POST>
                <input type=hidden name=MrchLogin value='alina_trade'>
                <input type=hidden name=OutSum value='1800'>
                <input type=hidden name=InvId value='0'>
                <input type=hidden name=Desc value='ROBOKASSA Advanced User Guide'>
                <input type=hidden name=SignatureValue
                       value='{{ 'alina_trade:1800:0:US1GOa7fEj36WYaeYVU3:Shp_item=1'|encode_value }}'>
                <input type=hidden name=Shp_item value='1'>
                <input type=hidden name=IncCurrLabel value=''>
                <input type=hidden name=Culture value='ru'>
                <input type=submit value='Pay'>
            </form>
        {% endif %}
    </div>
    {% include 'app/partial/_hidden_elements.html' %}
{% endblock %}

{#{% if has_data %}#}
{#    {% block custom_scripts %}#}
{#        {{ block.super }}#}
{#        <script language="JavaScript" src='https://auth.robokassa.ru/Merchant/PaymentForm/FormFLS.js?MrchLogin=alina_trade&OutSum=1800&InvId="0"&IncCurrLabel=""&Desc="ROBOKASSA Advanced User Guide"&SignatureValue={{ 'alina_trade:1800:0:US1GOa7fEj36WYaeYVU3:Shp_item=1'|encode_value }}&Shp_item="1"&Culture="ru"&Encoding="utf-8"'></script>#}
{#    {% endblock %}#}
{#{% endif %}#}