{% extends "base.html" %}
{% block title %}
    Поиск
{% endblock %}
{% block catalog_menu %}
    <div class="catalog-menu">
        <div class="wrapper">
            <nav class="side_megamenu">

            </nav>
            <input type="checkbox" id="sidebartoggler">

            <div class="page-wrap">
                <label for="sidebartoggler" class="toggle">☰</label>

                <div class="page-content">
                    <header></header>
                </div>
                <div class="sidebar">
                    <div class="catalog-mob">
                        <h2>Каталог</h2>
                        {% include "app/partial/_category_list.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <div class="main-content">
        <div class="wrapper clearfix">
            <div class="sidebar-main">
                <div class="catalog">
                    <h2>Каталог</h2>
                    {% include "app/partial/_category_list.html" %}
                </div>
            </div>
            <div class="search-main">
                <h2>Результаты поиска</h2>

                <div class="sorting-content">
                    <div class="sorting">
                        <div class="sorting-title"> Сортировать:</div>
                        <div class="sort">
                            <a class="byDate sorting">по дате добавления</a>
                        </div>
                        <div class="sort">
                            <a class="byCheap sorting">от дешевых к дорогим</a>
                        </div>
                        <div class="sort">
                            <a class="byExpensive sorting">от дорогих к дешевым</a>
                        </div>
                    </div>
                </div>
                <div class="searching-results">
                    {% include 'app/partial/_trade_list.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    {{ block.super }}
    <script>
        $('a.sorting').on('click', function (e) {
            e.preventDefault();
            var className = $(this).attr('class');
            var items = $('div.product-item');

            if (className.includes('byDate')) {
                var direction = $(this).attr('data-direction');

                if (direction == 'asc') {
                    items.sort(function (a, b) {
                        return new Date($(a).attr('data-date')) < new Date($(b).attr('data-date'));
                    });
                    $(this).attr('data-direction', 'desc');
                } else {
                    items.sort(function (a, b) {
                        return new Date($(a).attr('data-date')) > new Date($(b).attr('data-date'));
                    });
                    $(this).attr('data-direction', 'asc');
                }
            } else if (className.includes('byCheap')) {
                items.sort(function (a, b) {
                    return parseFloat($(a).attr('data-price')) - parseFloat($(b).attr('data-price'));
                });

            } else {
                items.sort(function (a, b) {
                    return parseFloat($(b).attr('data-price')) - parseFloat($(a).attr('data-price'));
                });
            }

            $('div.new-products').html(items);
            initAllSelects();
        });
    </script>
{% endblock %}