{% extends 'base.html' %}

{% load staticfiles %}
{% load webshop %}
{% load widget_tweaks %}

{% block title %}Оплата товаров{% endblock %}

{% block body_wrapper_begin %} {% endblock %}
{% block body_wrapper_end %} {% endblock %}

{% block main_content %}
    <div class="payment-content">
        <div class="basket-wrapper">
            <h1>Ваша заявка отправлена!</h1>
            Мы получили заявку, в скором времени с вами свяжутся.
        </div>
    </div>
    {% include 'app/partial/_hidden_elements.html' %}
{% endblock %}

{#{% if has_data %}#}
{#    {% block custom_scripts %}#}
{#        {{ block.super }}#}
{#        <script language="JavaScript" src='https://auth.robokassa.ru/Merchant/PaymentForm/FormFLS.js?MrchLogin=alina_trade&OutSum=1800&InvId="0"&IncCurrLabel=""&Desc="ROBOKASSA Advanced User Guide"&SignatureValue={{ 'alina_trade:1800:0:US1GOa7fEj36WYaeYVU3:Shp_item=1'|encode_value }}&Shp_item="1"&Culture="ru"&Encoding="utf-8"'></script>#}
{#    {% endblock %}#}
{#{% endif %}#}