{% extends "base.html" %}

{% load staticfiles %}

{% load webshop %}

{% block title %}
    {{ trade.title }}
{% endblock %}

{% block main_content %}
    <div class=".product-content">
        <div class="wrapper clearfix">
            <div class="product_main">
                <div class="product_main-top">
                    <div class="product-element" data-discount="{{ trade.discount }}">
                        {% if trade.discount > 0 %}<div class="sale-w">{{ trade.discount }}%</div>{% endif %}
                        <div class="product-img">
                            <img src="{{ trade.image.url }}" alt="{{ trade.title }}">
                        </div>
                        <div class="product-block">
                            <div class="link-item">
                                <ul class="path-to-item">
                                    <li>
                                        {% if trade.brand == 'alinex' %}
                                            <a href="{% url 'alinex' %}">Продукция «Alinex»</a>
                                        {% elif trade.brand == 'nashi' %}
                                            <a href="{% url 'nashi' %}">Продукция «Наши»</a>
                                        {% elif trade.brand == 'alinapaint' %}
                                            <a href="{% url 'alina_paint' %}">Продукция «Alina Paint»</a>
                                        {% endif %}
                                    <i class="fa fa-chevron-down fa-rotate-270" aria-hidden="true"></i></li>
                                    <li><a href="{% url 'category' category_id=trade.category.id %}">{{ trade.category.title }}</a></li>
                                </ul>
                            </div>
                            <div class="product-description">
                                <h1>{{ trade.title }}</h1>
                                {% if trade.short_description %}
                                    {{ trade.short_description|safe }}
                                {% endif %}
                            </div>
                            <div class="product_cost-elements" data-product-type="{% if trade.price_settings.all|get_object_count == 1 %}one{% else %}many{% endif %}">
                                {% if trade.price_settings.all|get_object_count == 1 %}
                                    <span class="volume">Объем: <span id="product-weight" class="weight" data-weight-id="{{ trade.price_settings.first.id }}">{{ trade.price_settings.first.weight }} кг</span></span>
                                    {% if trade.discount > 0 %}
                                        <span class="sale-price">{{ trade.price_settings.first.price|pprint|get_price_with_discount:trade.discount }} ₽</span>
                                        <span class="line-through-price">{{ trade.price_settings.first.price }} ₽</span>
                                    {% else %}
                                        <span class="price">{{ trade.price_settings.first.price }} ₽</span>
                                    {% endif %}
                                {% else %}
                                    <span class="volume">
                                        Объём:
                                        <div class="weight-paint">
                                            <select id="product-weight">
                                                {% for item in trade.price_settings.all %}
                                                    <option data-price="{{ item.price }}" value="{{ item.id }}">{{ item.weight }} кг</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </span>
                                    {% if trade.discount > 0 %}
                                        <span class="sale-price">{{ trade.price_settings.first.price|pprint|get_price_with_discount:trade.discount }} ₽</span>
                                        <span class="line-through-price" id="product-price">{{ trade.price_settings.first.price }} ₽</span>
                                    {% else %}
                                        <span class="price" id="product-price">{{ trade.price_settings.first.price }} ₽</span>
                                    {% endif %}
                                {% endif %}

                                <form class="pr-form">
                                    <input type="number" name="quantity" min="0" max="100" step="1" value="1" class="quantity-products" placeholder="">
                                    <span class="count_btn">
                                        <a href="" class="count-arrow plus">
                                            <i class="fa fa-chevron-down  fa-rotate-180"></i>
                                        </a>
                                        <a href="" class="count-arrow minus">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </span>
                                    <a href="" class="button trigger" data-target="{% url 'add_to_basket' trade_id=trade.id %}">Добавить в корзину</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="product-tabs">
                        <div class="tabs">
                            <div class="material-tabs">
                                <ul class="tabbed-section__selector">
                                    <li class="tabbed-section__selector-tab-1 left active">Описание</li>
                                    <li class="tabbed-section__selector-tab-2 center ">Инструкция</li>
                                    <li class="tabbed-section__selector-tab-3 right ">Свойства</li>
                                    <li class="tabbed-section__highlighter"></li>
                                    <li class="tabbed-section_line"></li>
                                </ul>
                                <div class="tabbed-section-1  visible">
                                    {{ trade.description|safe }}
                                </div>
                                <div class="tabbed-section-2 hidden">
                                    {{ trade.instruction|safe }}
                                </div>
                                <div class="tabbed-section-3 hidden">
                                    {{ trade.properties|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-sidebar">
                    <h2>У вас есть <br/> вопросы по товару?</h2>
                    <span class="call-phone">Позвоните по номеру:</span>

                    <div class="number-content">
                        <span class="number">0 (312) 35 75 54</span>
                        <span class="number">0 (312) 69 74 00</span>
                    </div>
                    <span class="and">ИЛИ</span>

                    <form action="" class="pr-sidebar-form">
                        <span>Оставьте свой номер <br/> и мы с вами свяжимся </span>
                        <input type="text" class="phone-number" placeholder="номер..."/>
                        <button type="submit"><i class="fa fa-chevron-down fa-rotate-270"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "app/partial/_hidden_elements.html" %}
{% endblock %}
{% block footer_content %}
{% endblock %}
{% block custom_scripts %}
    <script src="{% static "js/common.js" %}"></script>
    <script>
        initTradePage();
        initTradeBasketButtons();
        initCountButtons();
    </script>
{% endblock %}