{% load webshop %}

{% for row in basket_items %}
    <tr class="product-one" data-update="{% url 'update_basket' trade_id=row.id %}" data-order-number="{{ row.order_number }}">
        <td class="table_title" data-label="НАЗВАНИЕ">{{ row.title }}</td>
        <td class="data-product" data-label="Объем" data-type="{% if row.weight.all|length == 1 %}one{% else %}many{% endif %}">
            {% if row.weight.all|length > 1 %}
                <form action="{% url 'update_basket' trade_id=row.id %}">
                    <div class="weight-paint">
                        <select>
                            {% for item in row.weight.all %}
                                {% if row.product %}
                                    <option value="{{ item.id }}" data-price="{{ item.price|pprint|get_price_with_discount:row.product.discount }}" {% if item.price == row.price %}selected{% endif %}>{{ item.weight }}</option>
                                {% else %}
                                    <option value="{{ item.id }}" data-price="{{ item.price }}" {% if item.price == row.price %}selected{% endif %}>{{ item.weight }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </form>
            {% else %}
                <span data-id="{{ row.weight.first.id }}">{{ row.weight.first.weight }} кг</span>
            {% endif %}
        </td>
        <td data-label="Количество" class="row-count">
            <form action="" class="form-popup">
                <input type="number" name="quantity" min="0" max="100" step="1" value="{{ row.count }}"
                       class="quantity-products quant" placeholder="">
                <span class="count_btn">
                    <span class="count-arrow plus">
                        <i class="fa fa-chevron-down  fa-rotate-180"></i>
                    </span>
                    <span class="count-arrow minus">
                        <i class="fa fa-chevron-down"></i>
                    </span>
                </span>
            </form>
        </td>
        <td data-label="Цена" class="row-price"><span>{{ row.price }} ₽</span></td>
        <td>
            <span class="dl_btn">
                <i class="fa fa-times remove-order" aria-hidden="true" data-remove-id="{% url 'remove_from_basket' %}"></i>
            </span>
        </td>
        <td class="min-del" data-label="">удалить товар</td>
    </tr>
{% endfor %}

