{% load webshop %}

{% for row in basket_items %}
    <tr>
        <td>{{ row.title }}</td>
        <td>
            {% if row.weight.all|length > 1 %}
                {% for item in row.weight.all %}
                    {% if item.price == row.price %}{{ item.weight }}{% endif %}
                {% endfor %}
            {% else %}
                <span data-id="{{ row.weight.first.id }}">{{ row.weight.first.weight }} кг</span>
            {% endif %}
        </td>
        <td>
            {{ row.count }}
        </td>
        <td><span>{{ row.price }} RUB</span></td>
    </tr>
{% endfor %}

