<div class="building-list">
    <h4>Строительные материалы</h4>
    <nav class="side-nav">
        <ul>
            {% for c in constructions %}
                {% with c.category_set.all as subs %}
                    {% if subs|length > 0 %}
                        <li class="sd_nav-item">
                            <a href="{% url 'category' category_id=c.id %}">{{ c.title }} <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                            <ul class="submenu">
                                {% for sub in subs %}
                                    <li><a href="{% url 'sub_category' category_id=c.id sub_category_id=sub.id %}">{{ sub.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="sd_nav-item"><a href="{% url 'category' category_id=c.id %}" >{{ c.title }}</a></li>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </ul>
    </nav>
</div>
<div class="decoration-list">
    <h4>Отделочные материалы</h4>
    <ul>
        {% for d in decorations %}
            {% with d.category_set.all as subs %}
                {% if subs|length > 0 %}
                    <li class="sd_nav-item"><a href="{% url 'category' category_id=d.title %}">{{ d.title }} <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                        <ul class="submenu">
                            {% for sub in subs %}
                                <li><a href="{% url 'sub_category' category_id=c.id sub_category_id=sub.id %}">{{ sub.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="sd_nav-item"><a href="{% url 'category' category_id=d.id %}">{{ d.title }}</a></li>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
</div>
<div class="instruments-list">
    <h4>Инструменты</h4>
    <ul>
        {% for t in tools %}
            {% with t.category_set.all as subs %}
                {% if subs|length > 0 %}
                    <li class="sd_nav-item"><a href="{% url 'category' category_id=t.id %}">{{ t.title }} <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                        <ul class="submenu">
                            {% for sub in subs %}
                                <li><a href="{% url 'sub_category' category_id=t.id sub_category_id=sub.id %}">{{ sub.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="sd_nav-item"><a href="{% url 'category' category_id=t.id %}">{{ t.title }}</a></li>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
</div>