<div class="user-information">
    <b>Имя:</b> {{ name }}<br />
    <b>Телефон: </b> {{ phone }}<br />
    <b>Адрес:</b> {{ address }}<br />
</div>
<table>
    <colgroup>
        <col class="col1">
    </colgroup>
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Объем</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена</th>
    </tr>
    </thead>
    <tbody>
    {% include 'app/partial/_basket_elemt.html' %}
    </tbody>
</table>
<br />
<b>Сумма</b>: {{ total_price }} RUB