<div class="hidden-elements">
    <div class="popup-content">
        <div class="modal-wrapper">
            <div class="modal">
                <div class="content">
                    <div id="popup-products" class="new-table">
                        <table>
                            <colgroup>
                                <col class="col1">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col">Объем</th>
                                <th scope="col">Количество</th>
                                <th scope="col">Цена</th>
                            </tr>
                            </thead>
                            <tbody class="basket-rows">
                            {% include 'app/partial/_basket_row.html' %}
                            </tbody>
                        </table>
                    </div>
                    <div class="footer-popup">
                        <a href="" class="btn-close trigger">Закрыть</a>
                        <a href="{% url 'basket' %}" class="btn-link">Показать корзину</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>