<style>
    .new-table table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

    .new-table table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    }

    .new-table table thead th {
        font-family: "RobotoRegular", sans-serif;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        height: 30px;
        color: #666666;
        background: #F6F6F6;
        border: 1px solid #e6e6e5;
    }

    .new-table table tr {
        padding: .35em;
        background: #f8f8f8;
        border: 1px solid #ddd;
    }

    .new-table table td:first-child {
        font-size: 18px;
        cursor: default;
        text-align: left;
    }

    .new-table table {
        font-family: "RobotoLight", sans-serif;
        font-size: 20px;
        color: #333333;
    }

    .new-table table th,
    .new-table table td {
        height: 60px;
        padding: 8px 24px;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #e6e6e6;

    }

    .new-table table th {
        font-size: 16px;
        letter-spacing: .1em;
    }

    .new-table table td span {
        display: block;
    }

    .new-table .col1 {
        width: 362px;
        text-align: left;
        letter-spacing: 0;
    }
</style>

<div class="basket-main">
    <div class="new-table">
        <table>
            <colgroup>
                <col class="col1">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Объем</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
            </tr>
            </thead>
            <tbody>
            {% include 'app/partial/_basket_row.html' %}
            </tbody>
        </table>
    </div>
    <div class="purchase-data">
        <div class="delivery">
            Доставка:<span class="in-delivery">бесплатно</span>
        </div>
        <div class="amount">
            Сумма:<span class="cost" id="basket-total-price">{{ total_price }} ₽</span>
        </div>
    </div>
</div>