{% load staticfiles %}
{% load webshop %}

<div class="new-products">
    {% for trade in new_trades %}
        {% with trade.price_settings.all as price_settings %}
            {% if price_settings|length == 1 %}
                <div class="{% if trade.discount > 0 %}sale-product{% else %}product{% endif %} product-item"
                     data-date="{{ trade.created_at|date:'Y-m-d' }}"
                     data-price="{{ price_settings.0.price|get_price_with_discount:trade.discount }}"
                     data-direction="desc">
                    {% if trade.discount > 0 %}
                        <div class="sale-w">{{ trade.discount }}%</div>
                    {% endif %}
                    <a href="{% url 'trade' id=trade.id %}">
                        <div class="pr-elements">
                            <img src="{{ trade.image.url }}" alt="{{ trade.title }}">
                        </div>
                    </a>
                    <div class="pr-title">
                        <a href="{% url "trade" id=trade.id %}">
                            <h4>{% if trade.title|length >= 26 %}{{ trade.title|slice:'0:23' }}...{% else %}{{ trade.title }}{% endif %}</h4>
                        </a>
                    </div>
                    {% if trade.discount > 0 %}
                        <span class="sale-price">
                            {{ price_settings.0.price|get_price_with_discount:trade.discount }} ₽
                        </span>
                    {% endif %}
                    <span class="{% if trade.discount > 0 %}line-through-price{% else %}price{% endif %}">{{ price_settings.0.price }} ₽</span>
                    <span class="weight" data-id="{{ price_settings.0.id }}">{{ price_settings.0.weight }} кг</span>

                    <form class="pr-form">
                        <input type="number" name="quantity" min="0" step="1" value="{% if trade.item_count %}{{ trade.item_count }}{% else %}1{% endif %}" class="quantity-products" placeholder="">
                        <span class="count_btn">
                            <span class="count-arrow plus">
                                <i class="fa fa-chevron-down  fa-rotate-180"></i>
                            </span>
                            <span class="count-arrow minus">
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </span>
                        <a href="" class="button trigger" data-target="{% url 'add_to_basket' trade_id=trade.id %}" data-type="{% if price_settings|length == 1 %}one{% else %}many{% endif %}">Добавить в корзину</a>
                    </form>
                </div>
            {% elif price_settings|length > 1 %}
                <div class="paints-product product-item"
                     data-date="{{ trade.created_at|date:'Y-m-d' }}"
                     data-price="{{ price_settings.0.price|get_price_with_discount:trade.discount }}"
                     data-direction="desc">
                    {% if trade.discount > 0 %}
                        <div class="sale-w">{{ trade.discount }}%</div>
                    {% endif %}
                    <div class="pr-elements">
                        <img src="{{ trade.image.url }}" alt="{{ trade.title }}">
                    </div>
                    <div class="pr-title">
                        <a href="{% url "trade" id=trade.id %}">
                            <h4>{% if trade.title|length > 26 %}{{ trade.title|slice:'0:23' }}...{% else %}{{ trade.title }}{% endif %}</h4>
                        </a>
                    </div>
                    {% if trade.discount > 0 %}
                        <span class="sale-price">
                            {{ price_settings.0.price|get_price_with_discount:trade.discount }} ₽
                        </span>
                    {% endif %}
                    <span class="{% if trade.discount > 0 %}line-through-price{% else %}price{% endif %}">{{ price_settings.0.price }} ₽</span>

                    <div class="weight-paint">
                        <select>
                            {% for ps in price_settings %}
                                <option data-price="{{ ps.price }}" value="{{ ps.id }}">{{ ps.weight }} кг</option>
                            {% endfor %}
                        </select>
                    </div>
                    <form class="pr-form">
                        <input type="number" name="quantity" min="0" step="1" value="{% if trade.item_count %}{{ trade.item_count }}{% else %}1{% endif %}" class="quantity-products" placeholder="">
                        <span class="count_btn">
                            <span class="count-arrow plus">
                                <i class="fa fa-chevron-down  fa-rotate-180"></i>
                            </span>
                            <span class="count-arrow minus">
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </span>
                        <a href="" class="button trigger" data-target="{% url 'add_to_basket' trade_id=trade.id %}" data-type="{% if price_settings|length == 1 %}one{% else %}many{% endif %}">Добавить в корзину</a>
                    </form>
                </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
</div>