{% load staticfiles %}
{% load webshop %}

<div class="sale">
    {% for trade in trades_with_discounts %}
        {% with trade.price_settings.all as price_settings %}
            {% if price_settings|length == 1 %}
                <div class="sale-product">
                    <div class="sale-w">{{ trade.discount }}%</div>
                    <a href="{% url 'trade' id=trade.id %}">
                        <div class="pr-elements">
                            <img src="{{ trade.image.url }}" alt="{{ trade.title }}">
                        </div>
                    </a>
                    <div class="pr-title">
                        <a href="{% url "trade" id=trade.id %}">
                            <h4>{% if trade.title|length >= 26 %}{{ trade.title|slice:'0:23' }}...{% else %}{{ trade.title }}{% endif %}</h4>
                        </a>
                    </div>
                    <span class="sale-price">
                        {{ price_settings.0.price|get_price_with_discount:trade.discount }} ₽
                    </span>
                    <span class="price">{{ price_settings.0.price }} ₽</span>
                    <span class="weight" data-id="{{ price_settings.0.id }}">{{ price_settings.0.weight }} кг</span>

                    <form class="pr-form">
                        <input type="number" name="quantity" min="0" max="100" step="1" value="1" class="quantity-products" placeholder="">
                                    <span class="count_btn">
                                            <span class="count-arrow plus">
                                                <i class="fa fa-chevron-down  fa-rotate-180"></i>
                                            </span>
                                            <span class="count-arrow minus">
                                                <i class="fa fa-chevron-down"></i>
                                            </span>
                                    </span>
                        <a href="" class="button trigger" data-target="{% url 'add_to_basket' trade_id=trade.id %}" data-type="{% if price_settings|length == 1 %}one{% else %}many{% endif %}">Добавить в корзину</a>
                    </form>
                </div>
            {% elif price_settings|length > 1 %}
                <div class="paints-product">
                    <div class="sale-w">{{ trade.discount }}%</div>
                    <a href="{% url 'trade' id=trade.id %}">
                        <div class="pr-elements">
                            <img src="{{ trade.image.url }}" alt="{{ trade.title }}">
                        </div>
                    </a>
                    <div class="pr-title">
                        <a href="{% url "trade" id=trade.id %}">
                            <h4>{% if trade.title|length >= 26 %}{{ trade.title|slice:'0:23' }}...{% else %}{{ trade.title }}{% endif %}</h4>
                        </a>
                    </div>
                    <span class="sale-price">
                        {{ price_settings.0.price|get_price_with_discount:trade.discount }} ₽
                    </span>
                    <span class="price">{{ price_settings.0.price }} ₽</span>

                    <div class="weight-paint">
                        <select>
                            {% for ps in price_settings %}
                                <option data-price="{{ ps.price }}" value="{{ ps.id }}">{{ ps.weight }} кг</option>
                            {% endfor %}
                        </select>
                    </div>
                    <form class="pr-form">
                        <input type="number" name="quantity" min="0" max="100" step="1" value="1" class="quantity-products" placeholder="">
                                    <span class="count_btn">
                                            <span class="count-arrow plus">
                                                <i class="fa fa-chevron-down  fa-rotate-180"></i>
                                            </span>
                                            <span class="count-arrow minus">
                                                <i class="fa fa-chevron-down"></i>
                                            </span>
                                    </span>
                        <a href="" class="button trigger" data-target="{% url 'add_to_basket' trade_id=trade.id %}" data-type="{% if price_settings|length == 1 %}one{% else %}many{% endif %}">Добавить в корзину</a>
                    </form>
                </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
</div>