{% load staticfiles %}
{% load widget_tweaks %}
{% load webshop %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Алина</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "libs/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/fonts.css" %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16" />

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-96009463-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
{% block body_wrapper_begin %}
    <div class="body-wrapper">{% endblock %}
<header>
    <div class="full-menu">
        <div class="wrapper">
            <div class="header-top clearfix">
                <div class="ht-logo">
                    <a href="{% url "index" %}"><img src="{% static "img/logo.png" %}" alt="Логотип"></a>
                </div>
                <div class="ht-search">
                    <form action="{% url 'search' %}" method="POST">
                        {#                            <input type="text" name="search" placeholder="Поиск товара...">#}
                        {% render_field search_form.title type='text' placeholder='Поиск товара...' %}
                        {% csrf_token %}
                        <button type="submit" title="search">Найти</button>
                    </form>
                </div>
                <div class="ht-basket">
                    <div class="my-basket">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <a href="{% url "basket" %}" class="basket">Моя корзина</a>
                    </div>
                    <div class="count-goods">
                        <div class="add-goods">
                            <span class="count-text">Добавлено: </span>
                            <span class="sum-goods">{{ basket_items_count }}</span>
                            <span class="sum-goods-word">
                                    {% if basket_items_count == 1 %}
                                        товар
                                    {% elif basket_items_count > 1 and basket_items_count <= 4 %}
                                        товара
                                    {% else %}
                                        товаров
                                    {% endif %}
                                </span>
                        </div>
                        <div class="count-sum">
                            <span class="count-text">Сумма: </span>
                            <span class="total-amount">{{ basket_total_price }} ₽</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="h-nav">
            <div class="wrapper clearfix">
                <ul>
                    <li><a href="{% url "index" %}">Главная</a></li>
                    <li><a href="{% url "news" %}">Новости</a></li>
                    <li><a href="{% url "about" %}">О компании</a></li>
                    <li><a href="{% url "brands" %}">О брендах</a></li>
                    <li><a href="{% url "contacts" %}">Контакты</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="mobile-menu">
        <div class="mobile-search">
            <div class="m_search-btn">
                <div class="search-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
            <div class="m_ht-search">
                <div class="ht-search">
                    <form method="POST" action="{% url 'search' %}">
{#                        <input type="text" name="search" placeholder="Поиск товара...">#}
                        {% render_field search_form.title type='text' placeholder='Поиск товара...' %}
                        <button type="submit" title="search">Найти</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="my-basket">
            <a href="{% url "basket" %}" class="basket"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
            <span class="sum-goods">{{ basket_items_count }}</span> |
            <span class="total-amount">{{ basket_total_price }} ₽</span>
        </div>
        <div class="menu-collapsed">
            <div class="bar"></div>
            <nav>
                <ul>
                    <li><a href="{% url "index" %}">Главная</a></li>
                    <li><a href="{% url "news" %}">Новости</a></li>
                    <li><a href="{% url "about" %}">О компании</a></li>
                    <li><a href="{% url "brands" %}">О брендах</a></li>
                    <li><a href="{% url "contacts" %}">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
    {% block catalog_menu %}
        <div class="catalog-menu">
            <div class="wrapper">
                <nav class="side_megamenu">

                </nav>
                <input type="checkbox" id="sidebartoggler">

                <div class="page-wrap">
                    <label for="sidebartoggler" class="toggle">☰</label>

                    <div class="page-content">
                        <header></header>
                    </div>
                    <div class="sidebar">
                        <div class="catalog-mob">
                            <h2>Каталог</h2>
                            {% include "app/partial/_category_list.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</header>
{% block main_content %}

{% endblock %}
<footer id="footer">
    {% block footer_content %}
        <div class="promo-footer">
            <div class="wrapper clearfix">
                <div class="ft_title">
                    <h2>Продукция</h2>

                    <p>Узнайте подробнее о нашей продукции</p>
                    <hr/>
                </div>
                <div class="ft_brands-item">
                    <div class="ft_img">
                        <img src="{% static "img/ft_brand-logo-1.png" %}" alt="">
                    </div>
                    <nav class="ft_brands_nav">
                        <ul>
                            {% for con in constructions|slice:'0:8' %}
                                <li><a href="{% url 'category' category_id=con.id %}?brand=alinex">{{ con.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                <div class="ft_brands-item">
                    <div class="ft_img">
                        <img src="{% static "img/ft_brand-logo-2.png" %}" alt="">
                    </div>
                    <nav class="ft_brands_nav">
                        <ul>
                            {% for con in constructions|slice:'0:8' %}
                                <li><a href="{% url 'category' category_id=con.id %}?brand=nashi">{{ con.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                <div class="ft_brands-item">
                    <div class="ft_img">
                        <img src="{% static "img/ft_brand-logo-3.png" %}" alt="">
                    </div>
                    <nav class="ft_brands_nav">
                        <ul>
                            {% for con in decorations|slice:'0:8' %}
                                <li><a href="{% url 'category' category_id=con.id %}?brand=alina_paint">{{ con.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    {% endblock %}
    <div class="footer-link">
        <nav class="footer-nav">
            <ul class="ft_nav-link">
                <li><a href="{% url "index" %}">Главная</a></li>
                <li><a href="{% url "news" %}">Новости</a></li>
                <li><a href="{% url "about" %}">О компании</a></li>
                <li><a href="{% url "brands" %}">О брендах</a></li>
                <li><a href="{% url "contacts" %}">Контакты</a></li>
            </ul>
            <ul class="ft_nav-brands">
                <li><a href="{% url 'alinex' %}">Продукция «Alinex»</a></li>
                <li><a href="{% url 'nashi' %}">Продукция «НАШИ»</a></li>
                <li><a href="{% url 'alina_paint' %}">Продукция «Alina Paint»</a></li>
            </ul>
        </nav>
    </div>
</footer>
{% block body_wrapper_end %}</div>{% endblock %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter43638464 = new Ya.Metrika({
                id: 43638464,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
            });
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks"); </script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/43638464" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript> <!-- /Yandex.Metrika counter -->
<script>
    var csrfMiddleWareToken = '{{ csrf_token }}';
    var listBasketItems = '{% url 'list_basket_items' %}';
    var recountTotalPriceUrl = '{% url 'count_basket_total_price' %}';
    var indexPaginateUrl = '{% url 'index_paginate' %}';
</script>
<script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'js/core.js' %}"></script>
<script src="{% static 'js/image_configurations.js' %}"></script>
{% block custom_scripts %}
<script>
    $(document).ready(function () {
        initCountButtons();
        initAllSelects();
        initAllAddToCartButtons();
        initBasketButtons();
    });

    $(function () {
        $('.toggle-menu').click(function (e) {
            e.preventDefault();
            $('.sidebar').toggleClass('toggled');
        });
    });

    $(document).ready(function () {
        // open mobile menu
        $(".menu-collapsed").click(function () {
            $(this).toggleClass("menu-expanded");
        });

        $(".m_search-btn").click(function () {
            $(".m_ht-search").slideToggle();
        });

        //side nav
        $("#toggle").click(function () {
            $(this).toggleClass("on");
            $("#menu").slideToggle();
        });

    });
</script>
{% endblock %}
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function () {
        var widget_id = 'hB3MfKdWxf';
        var d = document;
        var w = window;

        function l() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//code.jivosite.com/script/widget/' + widget_id;
            var ss = document.getElementsByTagName('script')[0];
            ss.parentNode.insertBefore(s, ss);
        }

        if (d.readyState == 'complete') {
            l();
        } else {
            if (w.attachEvent) {
                w.attachEvent('onload', l);
            } else {
                w.addEventListener('load', l, false);
            }
        }
    })();
</script>
<!-- {/literal} END JIVOSITE CODE -->
</body>
</html>