{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Alina Paint
{% endblock %}

{% block body_wrapper_begin %}<div class="brands_page-one-wrapper">{% endblock %}

{% block main_content %}
    <div class="brands_page-one">
        <div class="brands_page-carcass">
            <div class="brand_logo">
                <img src="{% static "img/ft_brand-logo-3.png" %}" alt="">
            </div>
            <div class="brads-history">
                {{ content|safe }}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_content %}

{% endblock %}