{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Наши
{% endblock %}

{% block body_wrapper_begin %}<div class="brands_page-three-wrapper">{% endblock %}

{% block main_content %}
    <div class="brands_three-two">
        <div class="brands_page-carcass position">
            <div class="brand_logo">
                <img src="{% static "img/ft_brand-logo-2.png" %}" alt="">
            </div>
            <div class="brads-history">
                {{ content|safe }}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_content %}
{% endblock %}