/* font-family: "RobotoBlack"; */
@font-face {
    font-family: "RobotoBlack";
    src: url("../fonts/roboto/Roboto-Black.eot");
    src: url("../fonts/roboto/Roboto-Black.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Black.woff") format("woff"),
    url("../fonts/roboto/Roboto-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/roboto/Roboto-Bold.eot");
    src: url("../fonts/roboto/Roboto-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Bold.woff") format("woff"),
    url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Robotoitalic"; */
@font-face {
    font-family: "RobotoItalic";
    src: url("../fonts/roboto/Roboto-Italic.eot");
    src: url("../fonts/roboto/Roboto-Italic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Italic.woff") format("woff"),
    url("../fonts/roboto/Roboto-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/roboto/Roboto-Light.eot");
    src: url("../fonts/roboto/Roboto-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Light.woff") format("woff"),
    url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



/* font-family: "RobotoMedium; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/roboto/Roboto-Medium.eot");
    src: url("../fonts/roboto/Roboto-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Medium.woff") format("woff"),
    url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/roboto/Roboto-Regular.eot");
    src: url("../fonts/roboto/Roboto-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


