/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
    font-family: sans-serif; /* 1 */
    line-height: 1.15; /* 2 */
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
    margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
    display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
    margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
    outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
    background-color: #ff0;
    color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    cursor: pointer;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
    display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
    display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
    display: none;
}

/*===================================END NORMALIZE===================================*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
}

.body-wrapper {
    background: url("../img/background.png") repeat;
}

.wrapper {
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

/*================================ START INDEX - PAGE =================================*/

/*========== HEADER ==========*/
header {
    background-color: #ffffff;
}

.header-top {
    position: relative;
    padding: 22px 0;
}

.ht-logo {
    float: left;
    margin-right: 150px;
}

.ht-logo a {
    display: block;
}

.ht-search {
    font-family: RobotoRegular, sans-serif;
    font-size: 15px;
    width: 45%;
    float: left;
    margin-top: 13px;
    position: relative;
    vertical-align: middle;
}

.ht-search input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 4px 12px;
    border: 1px solid #E6E6E6;
}

.ht-search button {
    width: 90px;
    height: 40px;
    margin: 0;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    text-align: center;
    background-color: #E6E6E6;
}

.ht-search input[type="text"]:focus, button {
    outline: none;
}

.ht-basket {
    float: right;
}

.my-basket {
    font-family: "RobotoLight", sans-serif;
    font-size: 15px;
    color: #2A8BBC;
    text-align: right;
    padding-right: 5px;
}

.my-basket > .fa {
    font-size: 1.5em;
    color: #2B8BBC;
}

.basket {
    vertical-align: top;
    color: #2A8BBC;
    margin-left: 5px;
    text-decoration: none;
}

.count-goods {
    font-size: 12px;
    margin-top: 10px;
    padding: 2px 10px;
    line-height: 18px;
    color: #000000;
    background: #F2F2F2;
}

.count-text {
    color: #999999;
}

.h-nav {
    width: 100%;
    height: 30px;
    text-align: center;
    background: #2A8BBC;
}

.h-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.h-nav li {
    margin-left: 6px;
    display: inline-block;
}

.h-nav li:last-child {
    margin-left: 0;
}

.h-nav ul li a {
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    padding: 6px;
    display: block;
    color: #ffffff;
    vertical-align: middle;
    text-decoration: none;
    -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
    -o-transition: 250ms ease-in-out;
    transition: 250ms ease-in-out;
}

.h-nav ul li a:hover {
    background: #35A2C4;
}

.h-nav ul li a:focus {
    background: #35A2C4;
}

/*MOBILE_MENU*/
.mobile-menu {
    display: none;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #2A8BBC;
    z-index: 1001;
}

.b-a, .bar, .bar:before, .bar:after {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.menu-collapsed {
    transition: all .25s;
    position: fixed;
    left: 0;
    height: 0;
    z-index: 1;
    cursor: pointer;
}

.menu-collapsed ul {
    transition: all 0s;
    position: fixed;
    left: -9000px;
}

.bar {
    position: fixed;
    left: 12px;
    top: 24px;
}

.bar:before {
    top: -8px;
}

.bar:after {
    top: 8px;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
    transition: all .25s;
    top: -0px;
}

.menu-expanded {
    transition: all .25s;
    text-align: center;
    line-height: 200px;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding-top: 60px;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
}

.menu-expanded ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
    padding: 0;
    list-style-type: none;
}

.menu-expanded a {
    transition: all .15s;
    text-decoration: none;
    font-size: 2em;
    padding: 10px;
    color: #fff;
    line-height: 50px;
    width: 100%;
    display: block;
}

.menu-expanded a:hover {
    transition: all .15s;
    letter-spacing: 2px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.menu-expanded .bar {
    background-color: transparent;
    transition: all .25s;
}

.menu-expanded .bar:before {
    transform: rotate(45deg);
}

.menu-expanded .bar:after {
    transform: rotate(-45deg);
}

.m_search-btn-no-sidebar, .m_search-btn {
    float: right;
    font-size: 30px;
    color: #fff;
    padding: 13px;
    margin: 0 10px;
}

.m_ht-search {
    display: none;
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    z-index: 100;
    background: #ffffff;
}

.m_ht-search-on-sidebar {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 100;
    background: #ffffff;
}

.search-btn {
    display: block;
    cursor: pointer;
}

/*END MOBILE_MENU*/

/*Catalog NAV*/
.catalog-menu {
    display: none;
    width: 100%;
    height: 60px;
    z-index: 1001;
    position: relative;
    background-color: #F2F2F2;
    border: 1px solid #d8d8d8;
}

.page-content {
    position: relative;
    z-index: 0;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
}

.toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    top: 14px;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 30px;
}

.sidebar {
    position: fixed;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    z-index: 0;
    top: 0;
    right: 0;
    left: -355px;
    bottom: 0;
    width: 321px;
    padding: 0;
    background: #2a8bbc;
}

#sidebartoggler {
    display: none;
}

#sidebartoggler:checked + .page-wrap .sidebar {
    overflow-y: scroll;
    left: 0;
}

#sidebartoggler:checked + .page-wrap .toggle {
    left: 350px;
}

#sidebartoggler:checked + .page-wrap .page-content {
    padding-left: 50px;
}

.catalog-mob {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
}

.catalog-mob h2 {
    width: 100%;
    height: 40px;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

.catalog-mob .building-list h4,
.catalog-mob .decoration-list h4,
.catalog-mob .instruments-list h4 {
    padding: 25px
}

.catalog-mob .decoration-list {
    margin: 0;
}

/*END Catalog NAV*/
/*========== END HEADER ==========*/
/*========== BRANDS-PAGE ==========*/
.brands_link-page {
    padding: 100px 0;
    text-align: center;
}

.brands_link-page--title {
    margin-bottom: 80px;
    color: #363636;
    text-align: center;
}

.brands_link-page--title h1 {
    font-size: 30px;
}

.brands_link-page--title p {
    font-size: 18px;
}

.brands_link-page .brands_link {
    max-width: 325px;
    padding: 20px 75px;
    display: inline-block;
    text-align: center;
}

.brands_link-page .brands_link a {
    display: block;
}

.br_indent {
    margin: 0 98px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/*========== END BRANDS-PAGE ==========*/
/*========== BRANDS-ABOUT ==========*/
.brands {
    width: 100%;
    height: 90px;
    margin: 30px 0;
    z-index: 1;
    background-color: #ffffff;
    position: relative;
}

.br-text {
    width: 42%;
    float: left;
    padding: 27px 0;
    text-align: right;
    background: #e6e6e6 url(../img/bg1.png) no-repeat left top;
    -webkit-background-size: cover;
    background-size: cover;
}

.br-description {
    text-align: right;
    margin: 0;
    padding: 0 80px 0 30px;
    white-space: nowrap;
    vertical-align: middle;
}

.brands-logo {
    text-align: left;
    padding-right: 10px;
    background-color: #ffffff;
    display: block;
}

.brands-logo ul {
    margin: 0;
    padding: 19px;
    list-style-type: none;
}

.brands-logo li {
    margin-right: 10px;
    margin-left: 40px;
    vertical-align: middle;
    display: inline-block;
}

.brands_link-btn {
    padding: 10px 25px;
    color: #363636;
    display: block;
    text-decoration: none;
    border: 1px solid #B1B1B1;
}

.brands_link-btn:hover {
    border: 1px solid #2A8BBC;
}

.brands_link-btn .fa {
    color: #B1B1B1;
    padding-left: 8px;
}

/*========== END BRANDS ==========*/
/*========== CATALOG ==========*/
.sidebar-main {
    width: 23.72881355932203%;
    float: left;
}

.sidebar-main h2 {
    font-family: "RobotoRegular", sans-serif;
    font-size: 30px;
    margin-left: 20px;
    color: #333333;
    font-weight: normal;
}

.catalog {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    max-width: 280px;
}

.side-nav {
    border: 1px solid #f1f1f1;

}

.side-nav ul {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
}

.sd_nav-item:focus {
    background: #F6F6F6;
}

.sd_nav-item:hover a .fa {
    transform: rotate(-180deg);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.sd_nav-item a {
    display: block;
    padding: 10px 8px;
    margin: 0 4px;
    line-height: 30px;
    color: #333333;
    text-decoration: none;
}

.sd_nav-item a > .fa {
    font-size: 0.8em;
    float: right;
    color: #b3b3b3;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.submenu {
    background: #F7F7F7;
    display: none;
}

.submenu:focus {
    background: #F6F6F6;
}

.side-nav li:hover .submenu {
    display: block;
    max-height: 200px;
}

.submenu a {
    background-color: #F7F7F7;
}

.submenu a:hover {
    background-color: #f2f2f2;
}

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.decoration-list {
    margin: 35px 0;
}

.decoration-list ul, .instruments-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.building-list, .decoration-list, .instruments-list {
    display: block;
    width: 100%;
    background: #ffffff;
}

.building-list h4, .decoration-list h4, .instruments-list h4 {
    font-family: "RobotoThin", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    text-transform: inherit;
    text-align: center;
    background: #2A8BBC;
    color: #ffffff;
    vertical-align: middle;
}

.decoration-list li a, .instruments-list li a {
    display: block;
    padding: 10px 8px;
    margin: 0 4px;
    line-height: 30px;
    color: #333333;
    text-decoration: none;
}

/*========== END CATALOG ==========*/

/*========== PRODUCTS ==========*/

.products-main, .search-main, .home_main, .calculation-main {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    width: 76.2%;
    float: right;
    padding-left: 1.6%;
    color: #333333;
}

.products-main h2, .search-main h2, .home_main h2 {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

.product, .paints-product {
    position: relative;
    margin-bottom: 40px;
}

.sale-product, .paints-product, .product {
    position: relative;
    display: inline-block;
    width: 32%;
    height: 406px;
    margin-right: 1%;
    margin-bottom: 20px;
    padding: 12px;
    color: #333333;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #e6e6e5;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.sale-product:hover, .product:hover, .paints-product:hover {
    border: 1px solid #2A8BBC;
    box-shadow: 0 0 3px rgba(42, 132, 188, 0.5);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.products-main a, .home_main a, .calculation_main-product a {
    display: block;
    color: #333333;
    text-decoration: none;
}

.sale .sale-product:nth-child(3n),
.sale .paints-product:nth-child(3n),
.new-products .paints-product:nth-child(3n),
.new-products .product:nth-child(3n),
.searching-results .product:nth-child(3n),
.searching-results .paints-product:nth-child(3n),
.calculation-main .product:nth-child(3n),
.calculation-main .paints-product:nth-child(3n) {
    margin-right: 0;
}

.sale-product h4, .product h4, .paints-product h4 {
    margin: 20px 0;
    padding-bottom: 18px;
    border-bottom: 1px solid #E6E6E6;
}

.sale-w {
    font-size: 20px;
    position: absolute;
    top: 48px;
    left: -10px;
    width: 76px;
    color: #ffffff;
    background: #2A8BBC;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

.sale-w:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 10px solid #1b57bc;
    left: 0;
    top: -8px;
    position: absolute;
}

.pr-img {
    text-align: center;
}

.pr-elements {
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    text-align: center;
    height: 205px;
    overflow: hidden;
    position: relative;
}

/*.pr-elements a img {*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/

    /*-webkit-transform: translate(-50%, -50%);*/
    /*-moz-transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*-o-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
/*}*/

.sale-price, .price {
    font-size: 24px;
    color: #333333;
}

.product .price, .paints-product .price {
    margin-left: 40px;
    margin-right: 20px;
}

.sale .price {
    font-family: "RobotoLight", sans-serif;
    font-size: 18px;
    margin: 0 5px;
    color: #B3B3B3;
    text-decoration: line-through;
}

.line-through-price {
    font-family: "RobotoLight", sans-serif;
    font-size: 18px;
    margin: 0 5px;
    color: #B3B3B3;
    text-decoration: line-through;
}

.weight {
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
    padding: 1px 8px;
    color: #666666;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
}

.weight-paint {
    display: inline-block;
}

.weight-paint select {
    font-family: "RobotoLight", sans-serif;
    font-size: 18px;
    width: 100%;
    height: 34px;
    padding: 0;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
}

.pr-form {
    margin-top: 15px;
}

.pr-form input[type="number"] {
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
    float: left;
    width: 50px;
    height: 44px;
    text-align: center;
    color: #333333;
    vertical-align: top;
    border: 1px solid #E6E6E6;
}

.count_btn {
    float: left;
}

.pr-form .button {
    display: inline-block;
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    width: 160px;
    margin-left: 4px;
    line-height: 44px;
    vertical-align: top;
    position: relative;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    background: #2A8BBC;
    text-decoration: none;
}

.quantity-products {
    width: 40px;
    text-align: center;
}

.products-main .count-arrow, .count_btn .count-arrow {
    display: block;
    position: relative;
    width: 30px;
    color: #B3B3B3;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #e6e6e6;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
}

.count-product {
    width: 64px;
    padding: 5px 8px;
    height: 40px;
    text-align: center;
}

.sale-product .pr-form {
    padding-top: 7px;
}

.product .pr-form {
    padding-top: 10px;;
}

/*========== END PRODUCTS ==========*/

/*========== FOOTER ==========*/
footer {
    padding-top: 80px;
}

.ft_title {
    padding-bottom: 30px;
    text-align: center;
}

.ft_title h2 {
    font-size: 30px;
    color: #333333;
    text-align: center;
    font-weight: normal;
}

.ft_title p {
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    color: #666666;
    text-align: center;
}

.ft_title hr {
    max-width: 638px;
    border: 1px solid;
    color: #e6e6e5;
}

.ft_brands-item {
    width: 32%;
    height: 324px;
    margin-right: 16px;
    padding: 15px 82px;
    background: #e6e6e6;
    vertical-align: top;
    display: inline-block;
}

.ft_brands-item:last-child {
    margin-right: 0;
}

.ft_img {
    padding: 15px 0;
}

.ft_brands-item ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ft_brands-item li a {
    color: #666666;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
}

.ft_brands-item li a:hover {
    color: #2A8BBC
}

.footer-link {
    width: 100%;
    height: auto;
    margin-top: 80px;
    padding-bottom: 30px;
    background-color: #333333
}

.footer-nav {
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    padding-top: 30px;
    color: #FFFFFF;
    text-align: center;
}

.ft_nav-link, .ft_nav-brands {
    margin: 5px 0;
    padding: 0;
    line-height: 40px;
    list-style-type: none;
}

.footer-nav li {
    margin-right: 20px;
    display: inline-block;
}

.footer-nav li:last-child {
    margin-left: 0;
}

.footer-nav li a {
    display: block;
    padding: 0 8px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-nav li a:hover {
    color: #2a8bbc;
}

.ft_nav-brands {
    padding-top: 8px;
}

/*========== END FOOTER ==========*/

/*==============================  END INDEX - PAGE ==============================*/

/*================================ START PRODUCT - PAGE =================================*/
/*========== PRODUCT CONTENT ==========*/
.product-content {
    float: left;
}

.product-element {
    margin-bottom: 40px;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
}

.product_main-top {
    max-width: 880px;
    margin-top: 50px;
    float: left;
    border: 1px solid #E6E6E6;
    background: #FFFFFF;
}

.product-img {
    width: 360px;
    height: 434px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.product-img > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.product-block {
    max-width: 498px;
    display: inline-block;
    padding: 35px 30px;
    vertical-align: top;
}

.link-item, .product-description {
    display: inline-block;
}

.path-to-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.path-to-item li {
    display: inline-block;
}

.path-to-item li a {
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    color: #666666;
    text-decoration: none;
}

.path-to-item .fa {
    font-size: 0.7em;
    color: #666666;
    padding: 0 4px;
    vertical-align: middle;
}

.product-description {
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    color: #333333;
}

.product-description h1 {
    font-family: "RobotoBold", sans-serif;
    font-size: 20px;
    margin: 20px 0 15px 0;
    padding-bottom: 10px;
    color: #333333;
    border-bottom: 2px solid #E6E6E6;
    line-height: 30px;
}

.product-description p {
    margin-bottom: 64px;
}

.volume {
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
    display: block;
    color: #333333;
    vertical-align: middle;
}

.product_cost-elements .price {
    display: block;
    margin: 20px 0;
}

/*tabs*/

.material-tabs {
    display: block;
    width: 100%;
    padding: 0 40px;
    float: left;
    position: relative;
    background: #fff;
}

.media-promo {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
}

.media-promo iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.visible {
    position: relative;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    float: left;
    transition: opacity .35s ease;
    z-index: 3;
}

.hidden {
    position: absolute;
    opacity: 0;
    display: none;
    z-index: 0;
    transition: opacity 0s ease;
}

.hidden img {
    display: none;
}

[class*="tabbed-section-"] {
    float: left;
    color: #000;
}

[class*="tabbed-section-"] img {
    display: block;
}

.tabbed-section__selector {
    position: relative;
    height: 32px;
    top: -31.2px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabbed-section__selector [class*="-tab-"] {
    font-family: "RobotoRegular", sans-serif;
    font-size: 26px;
    float: left;
    display: block;
    height: 32px;
    line-height: 32px;
    width: 26%;
    cursor: pointer;
    background: #fff;
    font-weight: bold;
    text-decoration: none;
    color: #B3B3B3;
}

.tabbed-section__selector-tab-2:nth-child(2n) {
    margin: 0 11%;
}

.tabbed-section__selector [class*="-tab-"].active {
    color: #2A8BBC;
}

.tabbed-section__selector a:first-child {
    border-top-left-radius: 2px;
}

.tabbed-section__selector a:last-of-type {
    border-top-right-radius: 2px;
}

.tabbed-section__highlighter {
    position: absolute;
    z-index: 10;
    bottom: -18px;
    height: 4px;
    background: #2A8BBC;
    max-width: 121px;
    width: 100%;
    transform: translateX(0);
    display: block;
    left: 0;
    transition: transform 0.23s ease;
}

.tabbed-section__selector-tab-3.active ~ .tabbed-section__highlighter {
    transform: translateX(680px);
}

.tabbed-section__selector-tab-2.active ~ .tabbed-section__highlighter {
    max-width: 162px;
    transform: translateX(320px);
}

.tabbed-section__selector-tab-1.active ~ .tabbed-section__highlighter {
    transform: translateX(0);
}

li.tabbed-section__selector-tab-3.left {
    text-align: left;
}

li.tabbed-section__selector-tab-3.right {
    text-align: right;
}

li.tabbed-section__selector-tab-2.center {
    text-align: center;
}

.divider {
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 1px;
    margin: 8px 0;
    padding: 0;
    overflow: hidden;
}

.tabbed-section_line {
    float: left;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -19px;
    border-bottom: 1px solid #e6e6e6;
}

.material-tabs h3 {
    font-family: "RobotoMedium", sans-serif;
    font-size: 16px;
    color: #333333;
    margin: 36px 0;
}

.material-tabs p {
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    color: #333333;
    margin-bottom: 35px;
}

.media-promo {
    margin: 35px 0;
}

/*========== END PRODUCT CONTENT ==========*/
/*========== PRODUCT-SIDEBAR ==========*/
.product-sidebar {
    max-width: 282px;
    float: right;
    margin-top: 50px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
}

.product-sidebar h2 {
    font-family: "RobotoRegular", sans-serif;
    font-size: 26px;
    padding: 10px 16px;
    color: #2a8bbc;
    font-weight: normal;
}

.product-sidebar .call-phone {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    color: #666666;
}

.product-sidebar .number-content {
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
    color: #333333;
    width: 189px;
    margin-top: 12px;
    margin-left: 46px;
    padding: 10px 22px;
    background: #e6e6e6;
}

.number-content .number {
    display: block;
    line-height: 30px;
}

.and {
    font-family: "RobotoRegular", sans-serif;
    font-size: 26px;
    margin: 20px 0;
    color: #666666;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.and:before, .and:after {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    margin: 30px auto;
    background-color: #B3B3B3;
    text-align: center;
    transform: rotate(90deg);
}

.pr-sidebar-form {
    display: block;
    margin: 15px 0;
}

.pr-sidebar-form span {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    color: #666666;
    display: block;
    margin-bottom: 15px;
}

.pr-sidebar-form input[type="text"] {
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
    max-width: 185px;
    width: 100%;
    margin: 0;
    padding: 5px 12px;
    vertical-align: top;
    border: 1px solid #E6E6E6;
}

.pr-sidebar-form input[type="text"]:focus {
    outline: none;
}

.pr-sidebar-form button {
    width: 35px;
    height: 34px;
    margin: 0;
    padding: 0;
    background-color: #2A8BBC;
    border: 0;
    cursor: pointer;
    vertical-align: top;
}

.pr-sidebar-form .fa {
    color: #FFFFFF;
}

/*==============================  END PRODUCT - PAGE ==============================*/

/*==============================  ABOUT - PAGE ==============================*/

.about {
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    color: #000;
    background: #FFFFFF;
    margin: 60px 160px;
    padding: 0 10px;
    text-align: justify;
}

.about h1 {
    font-family: "RobotoRegular", sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
    padding-bottom: 28px;
    border-bottom: 1px solid #E6E6E6;
}

.about p {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

.about strong {
    font-family: "RobotoMedium", sans-serif;
    font-size: 16px;
    color: #333333;
}

.about .mission {
    font-family: "RobotoLight", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    width: 100%;
    margin-top: 60px;
    padding: 30px 70px;
    background: #2A8BBC;
}

.mission h2 {
    font-family: "RobotoBold", sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

/*==============================  END ABOUT - PAGE ==============================*/

/*==============================  HIDDEN ELEMENTS ==============================*/

/***********************\

	Modal Module - Title CSS FTW

\***********************/
.hidden-elements {
    z-index: 1001;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
    z-index: 1001;
    opacity: 1;
    visibility: visible;
}

.modal {
    max-width: 870px;
    width: 100%;
    height: auto;
    display: block;
    margin-top: -300px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(238, 238, 238, 1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(238, 238, 238, 1);
    box-shadow: 0px 0px 5px 4px rgba(230, 230, 230, 1);
}

.modal-wrapper.open .modal {
    margin-top: 0;
    opacity: 1;
}

.footer-popup {
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin: 20px 0;
    padding: 0 10px;
    text-align: center;
}

.footer-popup a {
    display: inline-block;
    margin: 0 12px;
    padding: 0 10px;
    color: #FFFFFF;
    vertical-align: top;
    text-decoration: none;
}

.footer-popup .btn-close {
    width: 112px;
    padding: 10px;
    text-align: center;
    background: #666666;
}

.footer-popup .btn-link {
    width: 182px;
    line-height: 18px;
    text-align: center;
    padding: 10px;
    background: #2A8BBC;
}

.content {
    padding: 24px 50px;
}

.form-popup input[type="number"] {
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
    float: left;
    width: 50px;
    height: 44px;
    text-align: center;
    color: #333333;
    vertical-align: top;
    border: 1px solid #E6E6E6;
}

.form-popup {
    display: inline-table;
}

/*============================== END  HIDDEN ELEMENTS ==============================*/

/*==============================  BASKET ELEMENTS ==============================*/

.basket-wrapper {
    max-width: 820px;
    margin: 0 auto;
    padding: 0 14px;
    background-color: transparent;
}

/*============== NEW TABLE ==================*/

.new-table table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.new-table table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.new-table table thead th {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 30px;
    color: #666666;
    background: #F6F6F6;
    border: 1px solid #e6e6e5;
}

.new-table table tr {
    padding: .35em;
    background: #f8f8f8;
    border: 1px solid #ddd;
}

.new-table table td:first-child {
    font-size: 18px;
    cursor: default;
    text-align: left;
}

.new-table table {
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
    color: #333333;
}

.new-table table th,
.new-table table td {
    height: 60px;
    padding: 8px 24px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #e6e6e6;

}

.new-table table th {
    font-size: 16px;
    letter-spacing: .1em;
}

.new-table table td span {
    display: block;
}

.new-table .col1 {
    width: 362px;
    text-align: left;
    letter-spacing: 0;
}

/*============== END TABLE ==================*/
.basket-content h1, .payment-content h1 {
    font-family: "RobotoRegular", sans-serif;
    font-size: 30px;
    color: #333333;
    margin: 45px 0 36px;
    padding-bottom: 22px;
    text-align: center;
    border-bottom: 1px solid #E6E6E6
}

.dl_btn {
    display: block;
    cursor: pointer;
    color: #B3B3B3;
}

.min-del {
    display: none;
}

.close_btn-icon {
    width: 10px;
    height: 10px;
    background: url("../img/icons/close-icon.png");
}

.purchase-data {
    font-family: "RobotoRegular", sans-serif;
    font-size: 20px;
    width: 100%;
    margin: 24px 0;
    text-align: right;
    color: #666666;
}

.in-delivery {
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
    padding-left: 10px;
    color: #333333;
    float: right;
}

.amount {
    padding-right: 23px;
}

.amount .cost {
    font-family: "RobotoLight", sans-serif;
    font-size: 20px;
    padding-left: 10px;
    color: #333333;
    float: right;
}

.basket_content-button {
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    display: block;
    width: 180px;
    padding: 15px 29px;
    color: #FFFFFF;
    text-align: center;
    background: #2a8bbc;
    text-decoration: none;
    white-space: nowrap;
}

.btn-center {
    margin: 10px 38.63%
}

/*==============================  END BASKET ELEMENTS ==============================*/
/*==============================  START PAYMENT ==============================*/
.payment-content {
    font-family: "RobotoRegular", sans-serif;
    font-size: 18px;
    color: #333333;
}

.client-data {
    max-width: 405px;
    width: 100%;
    padding: 10px;
    display: inline-block;
}

.payment-method {
    max-width: 307px;
    width: 100%;
    padding: 10px;
    margin-left: 60px;
    display: inline-block;
    vertical-align: top;
}

.information-form p {
    margin-bottom: 18px;
}

.information-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    color: #333333;
    display: inline-block;
}

.information-form input:focus {

}

.radio {
    width: 100%;
    margin: 0.5rem;
}

.radio input[type="radio"] {
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197EE;
}

.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}

.wallet {
    height: 42px;
    cursor: pointer;
    margin: 15px 4px 15px 0;
    border: 1px solid #ccc;
    display: inline-block;
}

.payment-content .basket_content-button {
    border: none;
    cursor: pointer;
}

.payment-content .basket_content-button:active {
    transform: scale(0.98);
}

/*==============================  END PAYMENT ==============================*/
/*==============================  START SEARCH  ==============================*/
.sorting-content {
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
}

.sorting-title {
    display: inline-block;
}

.sort {
    display: inline-block;
}

.sort a {
    display: block;
    margin-left: 35px;
    padding: 10px;
    color: #666666;
    text-decoration: none;
}

.sort a:hover {
    color: #2A8BBC;
}

.searching-results a {
    display: block;
    color: #333333;
    text-decoration: none;
}

/*==============================  END SEARCH ==============================*/
/*==============================  START ABOUT BRAND ==============================*/
/*one*/
.brands_page-one-wrapper {
    background: url("../img/brand_background-2.png") no-repeat top center;
}

.brands_page-one {
    position: relative;
}

.brands_page-one:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/brands_bg-element-1.png") no-repeat top left;
    width: 315px;
    height: 680px;
}

.brands_page-one:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/brands_bg-element-2.png") no-repeat top right;
    width: 382px;
    height: 260px;
}

.brand_logo {
    text-align: center;
    padding: 20px 0 50px 0;
}

.brands_page-carcass {
    max-width: 890px;
    margin: 0 auto;
}

.brads-history {
    padding: 45px;
    background: #FFFFFF;
}

/*two*/
.brands_page-two-wrapper {
    background: #fff url("../img/brand_background-1.png") repeat;
}

.brands_page-two {
    position: relative;
}

.brands_page-two:before {
    content: "";
    width: 400px;
    height: 500px;
    background: url("../img/brands_bg-element-4.png") no-repeat bottom left;
    position: absolute;
    left: 0;
    bottom: -160px;
}

.position {
    position: relative
}

.brands_page-two p {
    padding: 16px 0;
}

/*==============================  ENC ABOUT BRAND ==============================*/
/*==============================  START HOME  ==============================*/
.products_title {
    padding: 0 80px;
    margin-bottom: 40px;
    line-height: 38px;
    text-align: center;
}

.products_title p {

}

.products_title a {
    color: #558AB9;
    position: relative;
    text-decoration: none;
}

.products_title .button {
    font-family: "RobotoLight", sans-serif;
    display: block;
    font-size: 16px;
    width: 280px;
    margin: 0 auto;
    line-height: 44px;
    vertical-align: top;
    position: relative;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    background: #2A8BBC;
    text-decoration: none;
}

.products_title .button .fa {
    padding-right: 15px;
}

.products_title .button:active {
    transform: scale(0.99);
}

.brands_page-three-wrapper {
    background: #FFFFFF url("../img/brand_background-3.png") repeat-x center;
}

/*==============================  ENC HOME ==============================*/
.calculation-main h2 {
    text-align: center;
    font-weight: normal;
}

.calculation-product {
    max-width: 100%;
    margin: 37px 0 20px 0;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
}

.calculation-product h3 {
    font-size: 18px;
    color: #363636;
    text-align: center;
}

.select_option-item {
    width: 31%;
    margin-right: 1.8%;
    display: inline-block;
}

.select_option-item select {
    font-family: "RobotoRegular", sans-serif;
    font-size: 14px;
    color: #363636;
    width: 100%;
    padding: 12px;
    border: 1px solid #E5E5E5;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../img/icons/arrow-down.png") no-repeat 95% 16px;
}

.select_option-item select:focus, .select_option-item select option:focus {
    outline: none;
}

.date-calculate {
    padding: 0 12px;
    background: #F1F1F1;
}

.date-calculate-item {
    width: 20%;
    padding: 0 1%;
    position: relative;
    display: inline-block;
}

.date-calculate-item label {
    padding-right: 4%;
}

.select_option {
    padding: 12px;
}

.date-calculate h3 {
    padding: 12px;
}

.date-calculate input[type="number"] {
    width: 40%;
    height: 30px;
    padding-right: 20px;
    padding-left: 5px;
    text-align: center;
    position: relative;
    border: 0;
}

.date-calculate-item span {
    position: absolute;
    margin-top: 5px;
    margin-left: -18px;
    color: #B1B1B1;
}

.date-calculate-item .sq {
    position: absolute;
    margin-top: 5px;
    margin-left: -21px;
    color: #B1B1B1;
}

.date-calculate-item .sq sup {
    top: -0.5em;
    left: -3px;
    font-size: 60%;

}

.date-calculate .and-c {
    width: 17%;
    position: relative;
    display: inline-block;
    font-family: "RobotoRegular", sans-serif;
    font-size: 20px;
    margin: 20px 0;
    color: #666666;
    text-align: center;
    text-transform: uppercase;
}

.date-calculate-item:first-child:after,
.date-calculate-item:nth-child(2n):after {
    content: "";
    width: 1px;
    height: 64px;
    position: absolute;
    top: -18px;
    right: 0;
    border-right: 1px solid #E5E5E5;
}

/*==============================  END ABOUT - PAGE ==============================*/

/*==============================  HIDDEN ELEMENTS ==============================*/
.header-script {
    width: 100%;
    height: 60px;
    padding: 15px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.catalog-script {
    width: 100%;
    height: 60px;
    padding: 4px 0;
    position: fixed;
    left: 0;
    top: 60px;
    background: #e6e6e6;
    border: 1px solid #d8d8d8;
    vertical-align: middle;
    z-index: 1001;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: slategray;
}

::-webkit-scrollbar-track {
    background: #b8c0c8;
}

body {
    scrollbar-face-color: slategray;
    scrollbar-track-color: #b8c0c8;
}

/*==============================  New Brands Page ============================*/
.brands-wrap {
   width: 875px;
   height: auto;
   position: relative;
   margin: 50px auto 0 auto;
}

.brands-wrap > h2 {
   font-family: "RobotoRegular", sans-serif;
   font-size: 30px;
   color: #363636 ;
   font-weight: normal;
   text-align: center;
}

.brand-item {
   width: 100%;
   height: 276px;
   border-bottom: 1px solid #E5E5E5 ;
   position: relative;
   margin-bottom: 32px;
}

.brand-item a {
   font-family: "RobotoRegular", sans-serif;
   font-size: 18px;
   color: #558AB9 ;
   text-decoration: none;
}

.brand-item a:hover {
   text-decoration: underline;
}

.brand-item a:focus {
   outline: none;
}

.brand-item a::-moz-focus-inner {
   border: none;
}

.brand-item-left-side {
   width: 266px;
   height: inherit;
   position: absolute;
   left: 0;
}

.brand-item-left-side > img {
   margin: 10px 20px;
}

.brand-item-right-side {
   width: 609px;
   height: inherit;
   position: absolute;
   right: 0;
}

.brand-item-title {
   margin-bottom: 30px;
}

.brand-item-description {
   font-family: "RobotoLight", sans-serif;
   font-size: 16px;
   color: #363636 ;
   margin-bottom: 24px;
}

.brand-item-description > a {
   font-size: 16px;
}

.brand-item-owner {
   font-family: "RobotoRegular", sans-serif;
   font-size: 16px;
   color: #363636 ;
}

.brand-item-owner > a {
   font-size: 16px;
}

#index-load-button {
    font-family: "RobotoLight", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    background: #0a68a3;
    border: 1px solid rgba(0,0,0,0);
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#index-load-button:hover {
    background: rgba(0,0,0,0);
    border: 1px solid #0a68a3;
    color: #0a68a3;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
/*==============================  End New Brands Page ========================*/

/*==============================  MEDIA QUERIES ==============================*/
@media only screen and (max-width: 1300px) {
    .br-text {
        float: none;
        width: 100%;
        padding: 45px 0;
        vertical-align: middle;
        text-align: center;
        background: #F2F2F2;
    }

    .br-description {
        float: none;
        text-align: center;
    }

    .brands-logo {
        float: none;
        width: 100%;
        text-align: center;
    }

    .brands {
        height: 218px;
    }

    .brands_page-one:before, .brands_page-one:after {
        content: "";
        background: none;
    }

    .br-description {
        padding: 0;
    }
}

@media only screen and (max-width: 1186px) {
    .product_main-top {
        max-width: 720px;
        float: left;
        margin-top: 50px;
        border: 1px solid #E6E6E6;
        background: #FFFFFF;

    }

    .product-img {
        width: 100%;
        display: block;
        text-align: center;
    }

    .product-block {
        max-width: 100%;
        display: block;
        padding: 35px 20px
    }

    .product .price {
        margin-left: 25px;
        margin-right: 25px;
    }

    .product-sidebar {
        max-width: 412px;
        margin-right: 4%;
    }

    .product-content .volume, .product-content .price {
        display: inline-block;
    }

    .tabbed-section__selector-tab-3.active ~ .tabbed-section__highlighter {
        transform: translateX(670px);
    }

    .tabbed-section__selector-tab-2.active ~ .tabbed-section__highlighter {
        max-width: 162px;
        transform: translateX(238px);
    }

    .tabbed-section__selector-tab-3.active ~ .tabbed-section__highlighter {
        transform: translateX(516px);
    }

    .product_cost-elements .volume,
    .product_cost-elements .volume,
    .product_cost-elements .price,
    .product_cost-elements .pr-form {
        padding: 0 36px;
        vertical-align: middle;
        display: inline-block;
    }
}

@media only screen and (max-width: 1180px) {
    .pr-form .button {
        width: 150px;
        font-size: 14px;
        margin-left: 2px;
    }

    .product_cost-elements .pr-form .button {
        width: 160px;
    }

    .weight {
        font-size: 18px;
    }

    .sale-price, .price {
        font-size: 20px;
        color: #333333;
    }

    .select_option-item select {
        -moz-appearance: none;
        background: url(../img/icons/arrow-down.png) no-repeat 95% 16px;
    }

    .weight-paint select {
        height: 30px;
    }
}

@media only screen and (max-width: 1110px) {
    .sale-product, .paints-product, .product {
        width: 31%;
        margin-right: 1.4%;
    }

    .sale-price, .price {
        font-size: 18px;
    }

    .sale .price {
        font-size: 16px
    }

    .weight {
        font-size: 18px;
    }

    .pr-form .button {
        font-size: 12px;
        width: 130px
    }

    .sd_nav-item a {
        margin: 0;
        font-size: 14px;
    }

    .ft_brands-item {
        width: 32%;
        height: 350px;
    }

    .brands_page-two:before {
        content: "";
        width: 100%;
        height: auto;
        background: none;
    }

    .product .pr-form {
        padding-top: 10px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 1150px) {
    .date-calculate-item label {
        font-size: 14px;
        padding-right: 4%;
    }
}

@media only screen and (max-width: 1070px) {
    .sale-product, .paints-product, .product {
        width: 31%;
        margin-right: 1.4%;
    }

    .sale-price, .price {
        font-size: 16px;
    }

    .sale .price {
        font-size: 14px
    }

    .weight {
        font-size: 18px;
    }

    .pr-form .button {
        font-size: 11px;
        width: 112px;
    }

    .br-text {
        float: none;
        width: 100%;
        padding: 45px 0;
        vertical-align: middle;
        text-align: center;
        background: #F2F2F2;
    }

    .br-description {
        float: none;
        text-align: center;
    }

    .brands-logo {
        float: none;
        width: 100%;
        text-align: center;
    }

    .brands {
        height: initial;
    }

    .product-sidebar {
        max-width: 360px;
        margin-right: 0;
    }

}

@media only screen and (max-width: 1035px) {

    .ht-logo {
        float: left;
        margin-right: 100px;
        margin-left: 40px;
    }

    .ft_brands-item {
        width: 31%;
        padding: 15px 60px;
    }

    .product_main-top {
        max-width: 620px;
    }

    .product_main .pr-form {
        text-align: center;
    }

    .product_main .pr-form .button {
        font-size: 20px;
        width: 250px;
    }

    .tabbed-section__selector-tab-3.active ~ .tabbed-section__highlighter {
        transform: translateX(420px);
    }

    .tabbed-section__selector-tab-2.active ~ .tabbed-section__highlighter {
        max-width: 162px;
        transform: translateX(186px);
    }
}

@media only screen and (max-width: 1020px) {
    .weight-paint select {
        padding: 0;
    }

    .product_cost-elements .volume, .product_cost-elements .volume,
    .product_cost-elements .price, .product_cost-elements .pr-form {
        padding: 0 36px;
        vertical-align: middle;
        display: block;
    }

    .tabbed-section__selector [class*="-tab-"] {
        font-size: 18px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .sd_nav-item a {
        margin: 0;
        padding-left: 30px;
        font-size: 14px;
    }

    .ht-logo {
        float: none;
        margin: 0 40%;
        text-align: center;
    }

    .ht-search {
        margin-top: 40px;
    }

    .ht-search {
        width: 60%;
    }

    .header-top {
        padding: 22px 0;
        margin: 0 80px;
    }

    .sidebar-main {
        display: none;
    }

    .catalog-menu {
        display: block;
    }

    .products-main, .search-main, .home_main, .calculation-main {
        width: 100%;
    }

    .pr-form .button {
        font-size: 11px;
        width: 140px;
    }

    .decoration-list li a, .instruments-list li a {
        font-size: 14px;
    }

    .ft_brands-item {
        width: 31%;
        padding: 14px 20px;
        height: 315px;
    }

    .brands-logo li {
        padding: 20px;
        margin-right: 10px;
        margin-left: 25px;
        vertical-align: middle;
        display: inline-block;
    }

    .home_main .products_title {
        padding: 0;
    }

    .about {
        margin: 60px 80px;
    }

    .about .mission {
        padding: 30px 40px;
    }

    .br_indent {
        margin: 0 10px;
    }

    .brands_link-page .brands_link {
        padding: 20px 60px;

    }

    .product-sidebar {
        display: block;
        max-width: 100%;
        margin: 0;
        float: none;
    }

    .product-element {
        float: none;
    }

    .product_main-top {
        max-width: 100%;
        float: none;
    }

    .basket-content h1, .payment-content h1 {
        margin-top: 100px;
    }

    .product-sidebar .number-content {
        font-family: "RobotoLight", sans-serif;
        font-size: 20px;
        color: #333333;
        width: 21.1864406779661%;
        margin-top: 5%;
        margin-left: 40%;
        padding: 10px 22px;
        background: #e6e6e6;
    }

    .tabbed-section__selector [class*="-tab-"] {
        font-size: 20px;
    }

    .tabbed-section__selector-tab-2.active ~ .tabbed-section__highlighter {
        max-width: 144px;
        transform: translateX(363px);
    }

    .tabbed-section__selector-tab-3.active ~ .tabbed-section__highlighter {
        max-width: 100px;
        transform: translateX(770px);
    }

    .sale .price {
        margin: 0 10px 0 10px
    }

}

@media only screen and (max-width: 965px) {
    .tabbed-section__highlighter {
        display: none;
    }
}

@media only screen and (max-width: 910px) {
    .basket-wrapper {
        max-width: 680px;
    }

    .new-table table th, .new-table table td {
        padding: 4px 10px;
    }

    .new-table .col1 {
        width: 300px !important;
    }

    .new-table table th, .new-table table td {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 850px) {
    .sale-price, .price {
        padding-left: 3px;
    }

    .pr-form .button {
        width: 114px;
    }

    .ft_brands-item {
        width: 31%;
        line-height: 30px;
        padding: 14px 20px;
        height: 350px;
    }

    .sort a {
        display: block;
    }

    .sorting-title {
        font-size: 20px;
        margin-bottom: 10px;
        display: block
    }

    .product-sidebar .number-content {
        width: 30%;
        margin-left: 35%;
    }
}

@media only screen and (max-width: 813px) {
    .client-data, .payment-method {
        display: block;
        max-width: 100%;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .radio {
        width: 30%;
        vertical-align: top;
        display: inline-block;
    }

    .sale .price {
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .ht-logo {
        margin: 0 35%;
    }

    .sale-product .pr-form {
        padding-top: 10px;
    }

    .header-top {
        padding: 22px 0;
        margin: 0 50px;
    }

    .products-main, .search-main, .home_main {
        width: 100%;
    }

    .sale-product, .paints-product, .product {
        width: 48%;
        margin-right: 1.2%;
    }

    .pr-form .button {
        font-size: 12px;
        width: 180px;
    }

    .sale .sale-product:nth-child(2n),
    .sale .paints-product:nth-child(2n),
    .new-products .paints-product:nth-child(2n),
    .new-products .product:nth-child(2n),
    .searching-results .product:nth-child(2n),
    .searching-results .paints-product:nth-child(2n),
    .calculation-main .paints-product:nth-child(2n),
    .calculation-main .product:nth-child(2n) {
        margin-right: 0;
    }

    .sale .sale-product:nth-child(3n),
    .new-products .product:nth-child(3n),
    .new-products .paints-product:nth-child(3n),
    .searching-results .paints-product:nth-child(3n),
    .searching-results .product:nth-child(3n),
    .calculation-main .product:nth-child(3n),
    .calculation-main .paints-product:nth-child(3n) {
        margin-right: 1.2%;
    }

    .sale .sale-product:nth-child(3n) {
        width: 48%;
        margin-left: 26%;
        margin-right: 26%;

    }

    .products-main h2, .search-main h2, .home_main h2 {
        font-size: 30px;
        text-align: center;
        padding: 40px 0;
        color: #fff;
        background: #2a8bbc;
        position: relative;
        font-weight: normal;
    }

    .products-main h2:before, .search-main h2:before, .home_main h2:before {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 8px solid transparent;
        border-right: 8px solid rgba(42, 139, 188, 0.67);
        left: 0;
        bottom: -8px;
        position: absolute;
    }

    .products-main h2:after, .search-main h2:after, .home_main h2:after {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 8px solid transparent;
        border-left: 8px solid rgba(42, 139, 188, 0.67);
        right: 0;
        bottom: -8px;
        position: absolute;
    }

    .sale-product, .product, .paints-product {
        text-align: center;
    }

    .ft_brands-item {
        width: 31%;
        padding: 14px 14px;
        height: 420px;
    }

    .about {
        margin: 60px 40px;
    }

    .br_indent {
        margin: 0;
    }

    .radio {
        width: 45%;
    }

    /*TABLE PRODUCT*/
    .new-table table {
        border: 0;
    }

    .new-table table caption {
        font-size: 1.3em;
    }

    .new-table table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .new-table table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .new-table table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: center;
    }

    .new-table table td:nth-child(3n) {
        padding: 8px 120px 8px 8px;
    }

    .new-table table td:nth-child(3n):before {
        padding: 12px 0;
    }

    .new-table table td:nth-child(5n) {
        display: none;
    }

    .new-table table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .new-table table td:last-child {
        text-align: center;
        padding: 20px 8px;
        border-bottom: 0;
        color: #ffffff;
        cursor: pointer;
        text-transform: uppercase;
        background: #2a8bbc;
    }

    .new-table table td:first-child {
        padding: 20px 8px;
        text-align: center;
    }

    .new-table table th, .new-table table td {
        text-align: center;
        padding: 20px 8px;
    }

    .modal-wrapper.open .modal {
        width: 100%;
        height: 100%;
        overflow-y: auto
    }
}

@media only screen and (max-width: 716px) {
    .date-calculate .and-c {
        font-size: 18px;
    }
}

@media only screen and (max-width: 713px) {
    .brands {
        margin: 140px 0 30px 0;
    }

    .brands_link-btn {
        margin: 15px 0
    }

    .date-calculate {
        text-align: center;
        padding: 17px 12px;
    }

    .date-calculate .and-c {
        font-size: 18px;
        width: 100%;
        display: block;
        text-align: center;
    }

    .date-calculate-item {
        width: 32%
    }

    .date-calculate-item:last-child {
        width: 84%;
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 691px) {
    .brands_link-page .brands_link {
        max-width: 44%;
        margin: 0 28%;
        padding: 20px 75px;
        display: block;
        text-align: center;
    }

    .br_indent {
        margin: 0 98px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-left: 0;
        border-right: 0;
    }
}

@media only screen and (max-width: 675px) {
    .full-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .my-basket {
        float: right;
        font-size: 30px;
        color: #fff;
        padding: 13px;
        margin: 0 10px;
    }

    .basket {
        color: #FFFFFF;
    }

    .ht-search {
        width: 100%;
        margin: 0;
    }

    .ht-search input[type="text"] {
        width: 100%;
        height: 60px;
        background: rgba(50, 50, 50, 0.8);
        border: 1px solid #484646;
    }

    .ht-search button {
        width: 90px;
        height: 60px;
        color: #fff;
        background: #484646;
    }

    .my-basket .sum-goods {
        font-size: 18px;
        vertical-align: bottom;
    }

    .sum-goods, .total-amount {
        font-size: 20px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
    }

    .catalog-menu {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        background: #FFFFFF;
    }

    .toggle {
        top: 13px;
    }

    #sidebartoggler:checked + .page-wrap .toggle {
        left: 334px;
    }

    .sale-product, .product, .paints-product, .sale .sale-product:nth-child(3n) {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .ft_brands-item {
        width: 76%;
        height: 420px;
        margin: 0 12% 4% 12%;
        padding: 14px 10px;
        text-align: center;
    }

    .products_title a {
        display: block;
    }

    .sort a {
        display: block;
        margin-left: 0;
    }

    .about {
        margin: 100px 0;
    }

    .about h1 {
        text-align: center;
    }

    .brand_logo {
        text-align: center;
        margin-top: 60px
    }

    .sale .price {
        margin: 0 20px;
    }

    .product_main-top {
        margin-top: 180px;
    }
}

@media only screen and (max-width: 670px) {
    .radio {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
        display: block;
        text-align: left;
    }

    .product-sidebar .number-content {
        width: 50%;
        margin-left: 25%;
    }

    .product_main-top {
        margin-top: 160px;
    }
}

@media only screen and (max-width: 556px) {
    .brands_link-page .brands_link {
        max-width: 100%;
        margin: 0;
        padding: 20px 75px;
    }

    .brands_link-page .brands_link a {
        width: 100px;
        height: auto;
        margin: 0 auto;
    }

    .select_option-item {
        width: 48%;
        margin-right: 3%;
    }

    .select_option-item:nth-child(2n) {
        margin-right: 0;
    }

    .select_option-item:last-child {
        display: block;
        width: 100%;
    }

    .tabbed-section__selector [class*="-tab-"], li.tabbed-section__selector-tab-3.right {
        display: block;
        float: none;
        width: 100%;
        height: 100%;
        margin: 14px 0;
        line-height: 32px;
        text-align: center;
        padding-bottom: 14px;
        border-bottom: 1px solid #e6e6e6;
    }

    .tabbed-section__selector {
        height: auto;
    }

    .tabbed-section_line {
        display: none;
    }

    .new-table table th, .new-table table td {
        height: 65px;
    }

    .content {
        padding: 24px 10px;
    }
}

@media only screen and (max-width: 480px) {
    .sale-product, .paints-product, .product, .sale .sale-product:nth-child(3n) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .sale-product, .product, .paints-product {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .brands-logo li {
        padding: 20px 0;
    }

    .br-text {
        background: #F2F2F2;
    }

    .br-description {
        font-size: 13px;
    }

    .products_title .button {
        width: 250px;
    }

    .about .mission p {
        text-align: center;
    }

    .about .mission {
        padding: 30px 10px;
    }

    .brands_page-one {
        text-align: justify;
    }

    .brads-history {
        padding: 30px;
    }

    .brads-history h4 {
        text-align: center;
    }

    .brads-history {
        text-align: justify;
    }

    .btn-center {
        margin: 10px 26%;
    }

    .product_main .pr-form .button {
        font-size: 20px;
        width: 200px;
    }

    .product-sidebar .number-content {
        width: 80%;
        margin-left: 10%;
    }

    .new-table table td:nth-child(3n) {
        height: 90px;
        padding: 20px 30px;
    }

    .new-table table td:nth-child(5n) {
        display: none;
    }

    .new-table table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .new-table table td:last-child {
        height: 60px;
        padding: 20px 50px 20px 18px;
        border-bottom: 0;
        text-align: center;
    }

    .new-table table td:first-child {
        padding: 20px 8px;
        text-align: center;
    }

    .new-table table th, .new-table table td {
        font-size: 16px;
        text-align: right;
        padding: 20px 30px;
    }

    .new-table table td:before {
        height: 60px;
    }

    /*END PRODUCT*/
}

@media only screen and (max-width: 445px) {
    .select_option-item {
        display: block;
        width: 100%;
    }

    .date-calculate-item {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 0;
    }

    .date-calculate-item label {
        display: block;
        text-align: center;
        padding-bottom: 14px;
    }

    .date-calculate-item:last-child {
        width: 100%;
    }

    .radio {
        font-size: 16px;
        line-height: 28px;
        width: 100%;
        margin: 0;
    }

    .btn-center {
        margin: 10px 20%;
    }

    .product_main .pr-form .button {
        font-size: 14px;
        width: 148px;
    }

    .product_cost-elements .pr-form {
        padding: 0 10px;
    }

    .new-table table th, .new-table table td {
        height: 88px;
    }

    .footer-popup .btn-close {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 342px) {
    .new-table table td:nth-child(3n) {
        padding: 20px 10px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .sale-product, .product, .sale .sale-product:nth-child(3n) {
        width: 100%;
    }

    #sidebartoggler:checked + .page-wrap .toggle {
        left: 270px;
    }

    .sidebar {
        width: 250px;
    }

    .pr-form .button {
        width: 175px;
    }

    .ft_nav-brands {
        padding: 0;
    }

    .br-description {
        font-size: 13px;
    }

    .ft_brands-item {
        width: 100%;
        margin: 0;
    }
}

/*==============================  END MEDIA QUERIES ==============================*/